

h3{
  font-family: "Calibri";
  font-weight: bold;
  font-size: 40px;
}

h4{
  font-family: "Calibri";
  font-weight: bold;
  font-size: 25px;
}


.h3Space{
  padding-top: 15%;
  padding-bottom: 1%;
}

/* .emailSpace{
  padding-bottom: 15%;
} */

body{
    margin: 0px 0px 0px ;
    padding:0px;
    text-align:center;
    align:center;
    /* font-family: "Calibri"; */
    font-weight: bold;
    font-size: 15px;
}

.space{
  padding-top: 7%;
  padding-bottom: 10%;
}



/* .contact-container{
    margin-top: 100;
}

.contact-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.col-sm-offset-1 h1{
    margin-bottom: 25px;
}

.contact-form h4{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: left;
    color: #333;
}

.contact-form h5{
    margin-top: 25px;
    text-align: left;
    color: #333;
}

.btnSubmit
{
    margin-top: 50px;
    margin-left: 115px;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.contact-form-1 .btnSubmit{
    font-weight: 600;
    color: #333;
    background-color: #666;
} */
