#pagina1{
  font-family: 'Open Sans', serif;
  font-weight: 300;
}

#jumbotron {
  background-image: url("https://images.unsplash.com/photo-1504892696418-8f151d7092eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a24c4783da833475006b6a7dfbdf301d&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#btb {
  color: black;
  margin-top: 200px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600
}

#tas {
  margin: 60px 0 20px 0;
  font-size: 100px;
}

#titel h1 {
  text-decoration: none;
  font-size: 20px;

}

#paragraaf p {
  color: rgb(149, 149, 149);
  margin: 40px 0 90px 0;
}

#trending {
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 30px;

}
