#Navbar {
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
  font-weight:600;
  text-transform: uppercase;
  background: white;
  border: none;
}

#selection li a {
  color: white;
}

#logo {
  color: black;
  margin-top: 5px;
  font-size: 40px;
}

#selection li {
  margin: 0 20px;
}

/* #search {
  margin-left: 70px;
} */

#headernav {
  margin-left: 40px;
}

#rightbuttons {
  margin-right: 20px;
  font-weight:300;
  font-size: 1.6rem;

}

#search input {
  width: 260px;
  margin-left: 512px;
}

#searchsubmitbutton{
  color: rgb(80, 80, 80);
}

#wishlistbutton i {
  color: rgb(45, 45, 45);
  font-size: 2.3rem;
  padding: 15px;
}

#loginbutton i {
  color: white;
  font-size: 2.3rem;
  padding: 15px;
}

#cartbutton i {
  color: rgb(45, 45, 45);
  font-size: 2.3rem;
  padding: 15px;
}

#browsebutton {
  padding: 16px;

}

#browsebutton #browsetext, #accSymbol{
  color: white;
  /* background: black; */
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  /* padding: 20px; */
}
