.privacy-container{
    margin-top: 180px;
    margin-bottom: 30px;
    margin-left: 400px;
    text-align: center;
}

.privacy-panel{
    border: 1px solid #aaa;
    text-align: left;
    padding: 2%;
    min-height: 300px;
}