.privacy-container{
    margin-top: 190px;
    margin-bottom: 30px;
    margin-left: 450px;
}

.privacy-panel{
    padding: 5%;
    border: 1px solid #aaa;
}

.privacy-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.privacy-form h1{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
}

.privacy-form h4{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: left;
    color: #333;
}

.privacy-form h6{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 1;
    flex-grow: 1;
    color: #333;
    text-align: center;
}