.terms-container{
    margin-top: 180px;
    margin-bottom: 30px;
    margin-left: 400px;
    text-align: center;
}

.terms-panel{
    border: 1px solid #aaa;
    padding: 2%;
    text-align: left;
    min-height: 300px;
}