.terms-container{
    margin-top: 180px;
    margin-bottom: 30px;
    margin-left: 400px;
    text-align: center;
}

.terms-panel{
    border: 1px solid #aaa;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: left;
    min-height: 300px;
}

.terms-panel h5{
    margin-top: 25px;
}