.moblist_prf{ width:100%; padding:0;}

.moblist_prf li{floath:left; list-style:none; display:inline;}

.panel-default>.panel-heading {
  background: white;
  border: none;
  border: none !important;

}

#customers {
  border-collapse: collapse;
  /* border: 2px solid white; */
  width: 100%;
  box-shadow: none;
  border: none !important;

}

#customers td, #customers th {
  border: none;
  padding: 8px;
  color: rgba(71, 73, 88, 0.93);
  box-shadow: none;
  border: none !important;


}


#customers tr{background-color: white;}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(71, 73, 88, 0.93);
  color: white;
}



#customers input {
  cursor: pointer;
  border: none;
  background: rgba(62, 31, 26, 0);
}

#customers input:hover::placeholder {
  color: rgb(167, 167, 167);
}

#customers input::placeholder {
color: rgba(71, 73, 88, 0.933333);

}
